/* Universal Selector */
*{
    color: white;
}


/* Element Selector */
body{
    background-color: rgb(208, 161, 142);
}
h2{
    text-transform: uppercase;
}

/* id Selector  */

#fruits{
    color: yellow;
}

/* Class Selector */

.veggies{
    font-size: 24px;
    font-family:monospace;
}
.veg2{
    color: magenta;
}
/* ---------------------------------------- */
/* Combinator Selector */

div p{
    color: red;   
}

div > p{
    background-color: lightgreen;
    padding: 10px;
}


div + h3{
    color: aqua;
}

div ~ h2{
    color: blue;
}